* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #11131a;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.card {
    background: #1b1e27;
    border-radius: 24px;
    padding: 35px;
    text-align: center;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.icon {
    font-size: 55px;
    margin-bottom: 15px;
}

h1 {
    font-size: 30px;
    margin-bottom: 8px;
}

.subtitle {
    color: #9da3b4;
    margin-bottom: 25px;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;

    margin-bottom: 25px;

    color: #bfc5d4;
}

#statusDot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #777;
}

.event {
    background: #242834;
    border-radius: 18px;
    padding: 25px;
    text-align: left;
}

.event-label {
    font-size: 12px;
    color: #8f96a8;
    letter-spacing: 1px;
}

.event h2 {
    margin-top: 10px;
    font-size: 24px;
}

.event p {
    margin-top: 10px;
    color: #b8becb;
    line-height: 1.5;
}

.updated {
    margin-top: 25px;
    font-size: 13px;
    color: #7f8696;
}